<div class="container">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="/photos/new" class="btn btn-default btn-block">
        <i class="fa fa-plus"></i>
      </a>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <% @photos.each do |photo| %>

      <div class="panel panel-default">
        <div class="panel-heading"><%= photo.user.username %></div>
        <div class="panel-body">
          <img src="<%= photo.image %>" class="img-responsive">
          <%= photo.caption %>
        </div>
      </div>

      <% end %>

    </div>
  </div>
</div>
